header {
  margin-top: 30px;
  /* color: #2e99a9; */
}

hr {
  border-width: 3px;
  border-color: #2e59a9;
}

h1 {
  font-size: 20px;
/* Bootstrapによるreset(sanitize)が掛かっているので、フォントは"bold"し直す */
  font-weight: bold;
  margin: 0;
}